{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Acesso' %}{% endblock %}
{% block content %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Admin</b>LTE{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block login_form %}
                <form action="" method="post">{% csrf_token %}
                    <div>
                        {{ form }}
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Entrar' %}</button>
                        </div>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
