{% extends "adminlte/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Acesso' %}{% endblock %}
{% block body_class %}login-page{% endblock %}
{% block body %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Admin</b>LTE{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block login_form %}
                <form action="" method="post">{% csrf_token %}
                    {% if form.errors %}
                        <p class="login-box-msg" style="color: red;">{{ form.usuario.errors }}</p>
                    {% endif %}
                    <div class="form-group has-feedback">
                        {{ form.usuario }}
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        {{ form.senha }}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="{% url 'redefinir_senha' %}" target="_self">
                                {% trans 'Esqueci minha senha' %}
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Entrar' %}</button>
                        </div>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
