{% extends "adminlte/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Redefinir Senha' %}{% endblock %}
{% block body_class %}login-page{% endblock %}
{% block body %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>Admin</b>LTE{% endblock %}</a>
        </div>
        {% endblock %}
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block login_form %}
                <form action="" method="post">{% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                        <p class="login-box-msg" style="color: red;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                        <p class="login-box-msg" style="color: red;">{{ form.email.errors }}</p>
                    {% endif %}
                    <div class="form-group has-feedback">
                        {{ form.email }}
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-8 col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Redefinir' %}</button>
                        </div>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}

