{% load i18n %}
<div id="resetar_senha_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6><strong>{% trans 'Resetar Senha' %}</strong></h6>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form id="form" action="{% url 'resetar_senha' pessoa.id %}" method="post">
                            {% csrf_token %}
                            {{ form.resetar }}
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="id_resetar">{{ form.resetar.label }}</label>
                                    <div id="btn_switch"></div>
                                </div>

                            </div>
                            <div class="form-group row input-senha-wrapper">
                                <div class="col-md-12">
                                    <label for="id_senha">{{ form.senha.label }}</label>
                                    {{ form.senha }}
                                    {{ form.senha.errors }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_salvar" type="button" class="btn btn-success">{% trans 'Salvar' %}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function () {
        const form = $('#form');
        form.submit(function (e) {
            e.preventDefault();
            $.post(form.attr('action'), form.serialize(), function (data) {
                if(data.ok){
                    $('#resetar_senha_modal').modal('hide');
                }else{
                    $('#resetar_senha_wrapper').html(data);
                    $('#resetar_senha_modal').modal('show');
                    $('.input-senha-wrapper').show();
                }
            });
            return false;
        });
        $('#btn_salvar').click(function () {
            form.submit();
        });
        $('.input-senha-wrapper').hide();
        $('#btn_switch').btnSwitch({
            ToggleState: true,
            Theme: 'Android',
            OnCallback: function(val) {
                $('#id_resetar').prop('checked', true);
                $('.input-senha-wrapper').fadeOut();
            },
            OffCallback: function (val) {
                $('#id_resetar').prop('checked', false);
                $('.input-senha-wrapper').fadeIn();
            }
        });
    });
</script>