{% load static i18n %}
<html lang="pt-br">
    <body>
        <table style="font-family: 'Open Sans', verdana, helvetica, arial; font-size: 10pt;" align="center">

            <tbody>
            <tr cellpadding=0 cellspacing=0 style="border-collapse: collapse">
                <td>
                    <header style="width: 600px; height: 21px; background-color: #ffffff; text-align: center">
                        <div style="background-color: #001375; margin: 0 auto; width: 85px; height: 5px;"></div>
                    </header>
                </td>
            </tr>

            <tr>
                <td style="background-color: #001375; text-align: center; padding: 10px 10px;">
                    <img src="{{ http }}{% static 'img/logo-hplug-branco.svg' %}" alt="logo" width="100" />
                </td>
            </tr>

            <tr>
                <td>
                    <p style="padding: 20px 10px; margin: 10px 0; text-align: left;">
                        Olá
                        <strong>
                            {{ destinatario }}
                        </strong>

                        <br/><br/>

                        {% block conteudo %}
                            {% autoescape off %}
                                {{ mensagem }}
                            {% endautoescape %}
                        {% endblock %}

                        <br/><br/><br/><br/>

                        <span style="font-size: 8pt;">
                            Atenciosamente,
                            <br/><br/>
                            <strong style="font-size: 8pt; display: block; margin: 0 0 3px 0;">
                                 - Equipe H-PLUG
                            </strong>


                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="background-color: #001375; color: #fff; text-align: center; padding: 10px 10px;">
                    <img style="display: inline-block;" src="{{ http }}{% static 'img/logo-hplug-azul.png' %}" width="16" alt="Logo" />
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>