@import url('https://fonts.googleapis.com/css?family=Raleway');

/* customizando header */
.main-header .navbar-custom-menu,.main-header .navbar-right{
    float:right
}

.main-header .logo{
    padding: 0;
}

/* LOGIN PAGE */
.login-page{
    background: url(../img/biblioteca.jpg) no-repeat center center;
    background-size: cover;
}

.login-box{
    background-color: #fff;
    padding: 0.3em;
}

.login-logo{
    /*display: block;*/
    text-indent: -10000000px;
    background-image: url(../img/logo-hplug-azul.svg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    margin-top: 0.825rem;
}

.login-logo{
    background-image: url(../img/fatec-logo.png );
    height: inherit;
    margin-top: inherit;
    background-position: center center;
}