{% load i18n %}
{% load crispy_forms_tags %}

{% if not form.helper %}
    {{ form.media }}
{% endif %}

<form action="{% if action == 'create'%}{{url_create}}{%else%}{{url_update}}{% endif %}{{getparams}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="box-body row">
        <div class="col-md-12">
            {% if form.helper %}
                {% crispy form %}
            {% else %}
                {{ form|crispy }}
            {% endif %}
            {% if inlines and action == 'create' %}
                {% include "cruds/_form_inlines.html" with inlines=inlines %}
            {% endif %}
        </div>
    </div>
    {% if object and upload_arquivos or upload_imagens %}
        <div class="box-body row">
            {% if upload_arquivos %}
                <div class="col-lg-3 pr-0">
                    {% include "include/forms/anexar.html" with model_name=model_name pk=object.pk app_label=app_label arquivos=object.arquicos %}
                </div>
            {% endif %}
            {% if upload_imagens %}
                <div class="col-lg-3 pr-0">
                    {% include "include/forms/imagens.html" with model_name=model_name pk=object.pk app_label=app_label imagens=object.imagens %}
                </div>
            {% endif %}

            <div class="col-lg-3 pr-0">
                {% include "include/forms/videos.html" with model_name=model_name pk=object.pk app_label=app_label videos=object.videos%}
            </div>

            {% if laudos %}
                <div class="col-lg-3 pr-0">
                    {% include "rms/requisicaoreparo/include/laudos.html" with laudos=laudos %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if not form.helper %}
        <div class="box-footer">
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">{% trans "Enviar" %}</button>
                    {% if url_delete %}
                        <a href="{{ url_delete }}" class="btn btn-danger">{% trans "Apagar" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</form>
