{% load static crispy_forms_tags %}
<div class="row clearfix">
    <div class="col-md-12">
        <div class="panel panel-default">
            {% for inline in inlines %}
                <div class="panel-heading">
                    <h3 class="panel-title">{{ inline.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ inline.formset.management_form }}
                    {% for form_child in inline.formset %}
                        {% for hidden in form_child.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% if form_child.helper %}
                            {% crispy form_child %}
                        {% else %}
                            {{ form_child|crispy }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.formset.js' %}"></script>