{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Detalhes de" %} {{ model_verbose_name|lower }}{% endif %}{% endblock %}
{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Detalhes de" %} {{ object }}{% endif %}{% endblock %}


{% block content %}
    <ol class="breadcrumb" style="text-align: right">
    <li><a href="{{ url_list }}{{getparams}}"><i class="fa fa-dashboard"></i> {% trans "Início" %}</a></li>
        <li><a href="{{ url_list }}{{getparams}}">{{ model_verbose_name_plural|lower }}</a></li>
        <li class="active">{% trans "Detalhes de" %} {{ object|truncatewords:3 }}</li>
    </ol>
<div class="row">
    <div class="col-xs-12">
        {% if url_list and 'list' in views_available and crud_perms.list %}
            <a href="{{ url_list }}{{getparams}}" class="btn btn-info">
                <i class="fa fa-angle-double-left"></i>
                {% trans "Voltar para" %} {{ model_verbose_name_plural|lower }}
            </a>
        {% endif %}
        <br /><br />
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans "Detalhes de" %} {{ object }}</h3>
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>{% trans 'Label' %}</th><th>{% trans 'Value' %}</th>
                        </thead>
                        <tbody>
                            {% crud_fields object fields %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% if url_update and 'update' in views_available and crud_perms.update %}
            <div class="box-header">
                <a href="{{ url_update }}{{getparams}}" class="btn btn-primary" >{% trans "Editar" %}</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
