{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Lista de" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}
{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Lista de" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}

{% block js %}
{{ block.super }}
<script>
    $(function(){
        $('.form-filter input[type="text"').addClass('form-control');
        
        $('.btn-fake-submit').click(function(){
            $($(this).attr('data-submit')).trigger('click');
            return false;
        });
    })
</script>
{% endblock %}

{% block content %}
    <ol class="breadcrumb" style="text-align: right">
        <li><a href="/"><i class="fa fa-dashboard"></i> {% trans "início"%}</a></li>
        <li>{{ model_verbose_name_plural|lower|truncatewords:3 }}</li>
    </ol>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="row">
                        {% if url_create %}
                            <div class="col-lg-6">
                                {% crud_url object "create" namespace as url %}
                                {% if url and 'create' in views_available and crud_perms.create %}
                                    <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                                        <i class="fa fa-plus"></i> 
                                        {% trans "Novo " %} {{ model_verbose_name|lower }}</a>
                                {%endif%}
                                <br><br>
                            </div>
                        {% endif %}
                        
                        {% if search %}
                            <div class="col-lg-6">
                                <form action="" method="get">

                                    <div class="input-group">
                                        <input type="text" name="q" value="{{q}}" class="form-control" placeholder="{% trans 'Pesquise por...' %}"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-flat" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>

                                </form>
                            </div>
                            <br/>

                        {% endif %}


                        {% if filters %}
                            <div class="col-lg-12">
                                    
                                <div class="box box-warning {% if not request.GET.urlencode %}collapsed-box{% endif %}">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">{% trans 'Filtros' %}</h3>
                                        
                                        <div class="box-tools pull-right">
                                            <button data-widget="collapse"
                                                class="btn btn-box-tool btn-success" type="button">
                                                {% if not request.GET.urlencode %}
                                                    <i class="fa fa-plus"></i>
                                                {% else %}
                                                    <i class="fa fa-minus"></i>
                                                {% endif %}
                                                
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->

                                    <div class="box-body">
                                        <form action="" class="form-filter" method="get">
                                            <div class="form-group">
                                            {% for filter in filters %}
                                                {{ filter.render }}
                                            {% endfor %}
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="submit" id="submit-filter" class="go-away" value="{% trans 'Filtrar' %}" />

                                                <a class="btn btn-success btn-fake-submit" data-submit="#submit-filter" href="#" >
                                                    <i class="fa fa-filter"></i> {% trans 'Filtrar' %}
                                                </a>
                                                <a  class="btn btn-warning" href="?">
                                                    <i class="fa fa-undo"></i> 
                                                    {% trans 'Limpar' %} </a>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        {% endif%}
                    </div>
                </div>

                <div class="box-body table-responsive">
                    {% if paginate_position == 'Up' or paginate_position == 'Both' %}
                        {% include paginate_template %}
                    {% endif %}
                    <table id="datatable" class="table  table-bordered table-hover">
                        {% if object_list %}
                            <thead>
                            {% block thead %}
                                {% for field, field_name in fields.items %}
                                    <th class="th-field-{{ field|lower }} th-fieldtype-{{ field_name.1|lower }}">{{ field_name.0 }}</th>
                                {% endfor %}
                                <th class="text-center">{% trans "Ações" %}</th>
                            {% endblock thead %}
                            </thead>
                            <tbody>
                            {% block tbody %}
                                {% for object in object_list %}
                                    <tr>
                                        {% for field, field_name in fields.items %}
                                            <td class="td-field-{{ field|lower }} td-fieldtype-{{ field_name.1|lower }}">
                                                {% with column=field_name.1|lower|add:".html" %}
                                                    {% include "cruds/columns/"|add:column %}
                                                {% endwith %}
                                                {# typefield #}
                                            </td>
                                        {% endfor %}
                                        <td class="text-center">
                                            {% block actions %}
                                                {% crud_url object "detail" namespace as url %}
                                                {% if url and 'detail' in views_available and crud_perms.detail %}
                                                    <a href="{{ url }}{{getparams}}" class="btn btn-success"
                                                    data-toggle="tooltip" data-placement="bottom" title="Ver Detalhes">
                                                        <i class="fa fa-info-circle"></i>
                                                        <!-- {% trans "Visualizar" %} -->
                                                    </a>
                                                {% endif %}
                                                {% crud_url object "update" namespace as url %}
                                                {% if url and 'update' in views_available and crud_perms.update %}
                                                    <a href="{{ url }}{{getparams}}" class="btn btn-primary"
                                                    data-toggle="tooltip" data-placement="bottom" title="Editar">
                                                        <i class="fa fa-edit"></i>
                                                        <!-- {% trans "Edit" %} -->
                                                    </a>
                                                {% endif %}
                                                {% crud_url object "delete" namespace as url %}
                                                {% if url and 'delete' in views_available and crud_perms.delete %}
                                                    <a href="{{ url }}{{getparams}}" class="btn btn-danger"
                                                    data-toggle="tooltip" data-placement="bottom" title="Excluir">
                                                        <i class="fa fa-trash-alt"></i>
                                                        <!-- {% trans "Delete" %} -->
                                                    </a>
                                                {% endif %}
                                            {% endblock %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock tbody %}
                            </tbody>
                        {% else %}
                            <thead><th></th></thead>
                            <tbody><tr><td>{% trans "No items yet." %}</td></tr></tbody>
                        {% endif %}
                    </table>

                    {% if paginate_position == 'Bottom' or paginate_position == 'Both' %}
                        {% include paginate_template %}
                    {% endif %}
                </div>

                <div class="box-footer"></div>
            </div>
        </div>
    </div>
{% endblock content %}
