{% extends template_father %}
{% load i18n %}
{% load crud_tags %}
{% load embed_video_tags %}
{% load thumbnail %}
{% load static %}


{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Treinamento -" %} {{ object }}{% endif %}{% endblock %}
{% comment %}{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Detalhes de" %} {{ object }}{% endif %}{% endblock %}{% endcomment %}

{% block extrahead %}
    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src='https://vjs.zencdn.net/7.6.5/video.js'></script>
{% endblock %}

{% block content %}
    <style type="text/css">
        .content-header{padding: 0;}
        .content{padding: 0}
    </style>
    {% comment %}    <ol class="breadcrumb" style="text-align: right">
        <li><a href="{{ url_list }}{{getparams}}"><i class="fa fa-dashboard"></i> {% trans "Início" %}</a></li>
        <li><a href="{{ url_list }}{{getparams}}">{{ model_verbose_name_plural|lower }}</a></li>
        <li class="active">{% trans "Detalhes de" %} {{ object|truncatewords:3 }}</li>
    </ol>{% endcomment %}

    <div class="row">
        <div class="container-fluid" style="padding: 0px; margin: -1px">
            <div><img src="{% static 'img/imagem-topo-treinamentos.png' %}"></div>
            <div id="texto-treinamento"><h1>Treinamentos</h1></div>
        </div>
        <div class="col-xs-12" >
            <div class="box" style="background-color: #E5E5E5; padding-left: 20px;">
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <div class="box-header with-border">
                                <h1 class="box-title">{% trans "Treinamento Franqueado |" %} {{ object }}</h1>
                            </div>
                            <div style="text-align: initial">
                                {% if treinamento.video %}
                                    <div class="box-header with-border">
                                        <row>
                                            <h5 style="padding-bottom: 10px">{{ treinamento.resumo }}</h5>
                                            {% video treinamento.video as my_video %}
                                            {% video my_video treinamento.tamanho_video %}
                                            {% endvideo %}
                                        </row>
                                        <row>
                                            <h4 style="margin-top: 50px; margin-bottom: 0px; padding-bottom: 0px">Documentos</h4>
                                        </row>
                                    </div>
                                {% endif%}
                                {% comment %}                                {% if treinamento.videofile %}
                                    <div style="padding-top: 40px;" class="box-header with-border">
                                        <row>
                                            <video  width={{ treinamento.tamanho_videofile }}
                                                            id="my-player"
                                                    class="video-js"
                                                    controls
                                                    preload="auto"
                                                    data-setup='{}'>
                                                <source src="{{ MEDIA_URL }}{{ treinamento.videofile }}" type="video/mp4"></source>
                                                <source src="{{ MEDIA_URL }}{{ treinamento.videofile }}" type="video/webm"></source>
                                                <source src="{{ MEDIA_URL }}{{ treinamento.videofile }}" type="video/ogg"></source>
                                                <p class="vjs-no-js">
                                                    Para ver este vídeo considere habilitar seu JavaScript e/ou atualizar
                                                    seu Browser
                                                    <a href="https://videojs.com/html5-video-support/" target="_blank">
                                                        que suporte HTML5 vídeo.
                                                    </a>
                                                </p>
                                            </video>
                                        </row>
                                    </div>
                                {% endif %}{% endcomment %}

                                {% if treinamento.file %}
                                    <div class="box-header with-border">
                                        <row>
                                            <p><a href="{{ treinamento.file.url }}"><img src="{% static 'img/pdf.png' %}">
                                                {{ treinamento.file.name }} ---
                                                {{ treinamento.file.size|filesizeformat }}</a> </p>
                                        </row>
                                    </div>
                                {% endif %}
                            {% if treinamento.file2 %}
                                    <div class="box-header with-border">
                                        <row>
                                            <p><a href="{{ treinamento.file2.url }}"><img src="{% static 'img/pdf.png' %}">
                                                {{ treinamento.file2.name }} ---
                                                {{ treinamento.file2.size|filesizeformat }}</a> </p>
                                        </row>
                                    </div>
                                {% endif %}
                            {% if treinamento.file3 %}
                                    <div class="box-header with-border">
                                        <row>
                                            <p><a href="{{ treinamento.file3.url }}"><img src="{% static 'img/pdf.png' %}">
                                                {{ treinamento.file3.name }} ---
                                                {{ treinamento.file3.size|filesizeformat }}</a> </p>
                                        </row>
                                    </div>
                                {% endif %}


                                <div class="box-header with-border">
                                    <row>
                                        <h5>Criado em: {{ treinamento.criado_em }} Autor: {{ treinamento.criado_por }}</h5>
                                    </row>
                                </div>
                            </div>
                            </tbody>
                        </table>
                        <div class="box-header">
                            {% if url_list and 'list' in views_available and crud_perms.list %}
                                <a href="{{ url_list }}{{getparams}}" class="btn btn-info">
                                    <i class="fa fa-angle-double-left"></i>
                                    {% trans "Voltar para" %} {{ model_verbose_name_plural|lower }}
                                </a>
                            {% endif %}

                            {% if url_update and 'update' in views_available and crud_perms.update %}
                                <a href="{{ url_update }}{{getparams}}" class="btn btn-primary">{% trans "Editar" %}</a>
                            {% endif %}

                            {% if url_delete and 'delete' in views_available and crud_perms.delete %}
                                <a href="{{ url_delete }}{{getparams}}" class="btn btn-danger" >{% trans "Deletar" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
{% endblock %}
