{% extends template_father %}
{% load i18n %}
{% load crud_tags %}
{% load thumbnail %}
{% load static %}

{% block title %}{% if blocks.title %}{{ blocks.page_description }}{% else %}{% trans "Lista de" %} {{ model_verbose_name_plural }}{% endif %}{% endblock %}
{#{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}#}
{#{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}#}
{#{% block page_description %}{% if blocks.page_description %}{{ blocks.page_description }}{% else %}{% trans "Lista de" %} {{ model_verbose_name_plural|lower }}{% endif %}{% endblock %}#}

{#{% block scripts %}#}
{#    <script src="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"></script>#}
{#{% endblock %}#}

{% block extrahead %}
{% endblock %}

{% block content %}
    <style type="text/css">
        .content-header{padding: 0;}
        .content{padding: 0}
    </style>

    {#    <ol class="breadcrumb" style="text-align: right">#}
    {#        <li><a href="/"><i class="fa fa-dashboard"></i> {% trans "início"%}</a></li>#}
    {#        <li>{{ model_verbose_name_plural|lower|truncatewords:3 }}</li>#}
    {#    </ol>#}

    <div class="row">
    <div class="container-fluid" >
        <div><img src="{% static 'img/imagem-topo-treinamentos.png' %}"></div>
        <div id="texto-treinamento"><h1>Treinamentos</h1></div>
    </div>
    <div class="col-xs-12">
    <div class="box" style="background-color: #E5E5E5">
{#    <div class="box-header">#}
{#        <div class="row">#}
            {#            {% if url_create %}#}
            {#                <div class="col-lg-6">#}
            {#                    {% crud_url object "create" namespace as url %}#}
            {#                    {% if url and 'create' in views_available and crud_perms.create %}#}
            {#                        <a href="{{ url }}{{getparams}}" class="btn btn-primary">#}
            {#                            <i class="fa fa-plus"></i>#}
            {#                            {% trans "Novo " %} {{ model_verbose_name|lower }}</a>#}
            {#                    {%endif%}#}
            {#                    <br><br>#}
            {#                </div>#}
            {#            {% endif %}#}

            {#            {% if search %}#}
            {#                <div class="col-lg-6">#}
            {#                    <form action="" method="get">#}
            {##}
            {#                        <div class="input-group">#}
            {#                            <input type="text" name="q" value="{{q}}" class="form-control" placeholder="{% trans 'Pesquise por...' %}"/>#}
            {#                            <span class="input-group-btn">#}
            {#                                            <button class="btn btn-flat" type="submit">#}
            {#                                                <i class="fa fa-search"></i>#}
            {#                                            </button>#}
            {#                                        </span>#}
            {#                        </div>#}
            {#                    </form>#}
            {#                </div>#}
            {#                <br/>#}
            {##}
            {#            {% endif %}#}


            {#            {% if filters %}#}
            {#                <div class="col-lg-12">#}
            {##}
            {#                    <div class="box box-warning {% if not request.GET.urlencode %}collapsed-box{% endif %}">#}
            {#                        <div class="box-header with-border">#}
            {#                            <h3 class="box-title">{% trans 'Filtros' %}</h3>#}
            {##}
            {#                            <div class="box-tools pull-right">#}
            {#                                <button data-widget="collapse"#}
            {#                                        class="btn btn-box-tool btn-success" type="button">#}
            {#                                    {% if not request.GET.urlencode %}#}
            {#                                        <i class="fa fa-plus"></i>#}
            {#                                    {% else %}#}
            {#                                        <i class="fa fa-minus"></i>#}
            {#                                    {% endif %}#}
            {##}
            {#                                </button>#}
            {#                            </div>#}
            {#                            <!-- /.box-tools -->#}
            {#                        </div>#}
            {#                        <!-- /.box-header -->#}
            {##}
            {#                        <div class="box-body">#}
            {#                            <form action="" class="form-filter" method="get">#}
            {#                                <div class="form-group">#}
            {#                                    {% for filter in filters %}#}
            {#                                        {{ filter.render }}#}
            {#                                    {% endfor %}#}
            {#                                </div>#}
            {##}
            {#                                <div class="form-group">#}
            {#                                    <input type="submit" id="submit-filter" class="go-away" value="{% trans 'Filtrar' %}" />#}
            {##}
            {#                                    <a class="btn btn-success btn-fake-submit" data-submit="#submit-filter" href="#" >#}
            {#                                        <i class="fa fa-filter"></i> {% trans 'Filtrar' %}#}
            {#                                    </a>#}
            {#                                    <a  class="btn btn-warning" href="?">#}
            {#                                        <i class="fa fa-undo"></i>#}
            {#                                        {% trans 'Limpar' %} </a>#}
            {#                                </div>#}
            {#                            </form>#}
            {#                        </div>#}
            {#                        <!-- /.box-body -->#}
            {#                    </div>#}
            {#                </div>#}
            {#            {% endif%}#}
{#        </div>#}
{#    </div>#}

    <div class="container-fluid">
        <div class="row">
            {% for treinamento in treinamento_list %}
                {% block actions %}
                    {% crud_url treinamento "detail" namespace as url %}
                    {% if url and 'detail' in views_available and crud_perms.detail %}
                        <div class="card-deck">
                            <div class="card col-md-3" style="padding: 20px">
                                <div class="card-body">
                                    <img src="{{ MEDIA_URL }}{{ treinamento.imagem }}" class="card-img-top" alt="teste"  width="250px" height="150px">
                                    <h5 class="card-title">{{ treinamento.titulo | truncatechars:20 }}</h5>
                                    <p class="card-text"><a href="{{ url }}{{getparams}}">
                                        <img src="{% static 'img/ico-ver-treinamento.png' %}" id="icon-treinmto" type="submit">
                                    </a>{{ treinamento.resumo | truncatechars:20}}</>
                                    <p class="card-text"><small class="text-muted">{{ treinamento.criado_em }}</small></p>

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            {% endfor %}
        </div>
    </div>

    <div class="row tabs-list" id="{{ id }}" style="margin-top: 40px;">
    <div class="col-md-12" style="padding: 40px">

        <!-- TABLE: Tarefas -->
        <div class="box box-info">
            <div class="box-header with-border">
                {% trans 'Treinamentos' %}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                        <tr>
                            <th>{% trans 'Id' %}</th>
                            <th>{% trans 'Titulo' %}</th>
                            <th>{% trans 'Resumo' %}</th>
                            <th>{% trans 'Criado em' %}</th>
                            <th>{% trans 'Ativo' %}</th>
                            <th class="text-center">{% trans 'Ações' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for treinamento in treinamento_list %}

                            <tr>
                                <td><a href="{% url 'treinamento_treinamento_update' pk=treinamento.pk %}"># {{ treinamento.id }}</a></td>
                                <td>{{ treinamento.titulo }}</td>
                                <td>{{ treinamento.resumo }}</td>
                                <td>{{ treinamento.criado_em}}</td>
                                <td>{{ treinamento.ativo }}</td>
                                <td class="text-center">

                                    {% crud_url treinamento "detail" namespace as url %}
                                    {% if url and 'detail' in views_available and crud_perms.detail %}
                                        <a href="{{ url }}{{getparams}}" class="btn btn-success">
                                            <i class="fa fa-info-circle"></i>
                                            <!-- {% trans "Visualizar" %} -->
                                        </a>
                                    {% endif %}
                                    {% crud_url treinamento "update" namespace as url %}
                                    {% if url and 'update' in views_available and crud_perms.update %}
                                        <a href="{{ url }}{{getparams}}" class="btn btn-primary">
                                            <i class="fa fa-edit"></i>
                                            <!-- {% trans "Edit" %} -->
                                        </a>
                                    {% endif %}
                                    {% crud_url treinamento "delete" namespace as url %}
                                    {% if url and 'delete' in views_available and crud_perms.delete %}
                                        <a href="{{ url }}{{getparams}}" class="btn btn-danger">
                                            <i class="fa fa-trash-alt"></i>
                                            <!-- {% trans "Delete" %} -->
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>

            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <a href="{% url 'treinamento_treinamento_create' %}" class="btn btn-sm btn-info btn-flat pull-left">{% trans 'Novo Treinamento' %}</a>
                <a href="{% url 'treinamento_treinamento_list' %}" class="btn btn-sm btn-default btn-flat pull-right">{% trans 'Todos os Treinamentos' %}</a>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>

    {% if paginate_position == 'Bottom' or paginate_position == 'Both' %}
        {% include paginate_template %}
    {% endif %}
{% endblock%}

