{% load staticfiles thumbnail %}
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        {% block footer_right %}
            <b>Versão</b> {% block version %}<b>0.1</b>{% endblock %}
        {% endblock %}
    </div>

    {% block footer_left %}
        {% block legal %}
            <strong><a href="http://http://fatecararaquara.edu.br/" target="_blank">Copyright &copy; {% now "Y" %}  -
                Todos os direitos reservados aos alunos 2.SI.2019!</a>
            </strong>
            <img src="{% static 'img/fatec-logo.png' %}" alt="" style="margin-left: 30px; width: 3%;height: 12%;"/>
        {% endblock %}
    {% endblock %}
</footer>
