{% load adminlte_helpers i18n %}
{% load static %}

<header class="main-header">
    <!-- Logo -->
    {% block logo %}
        <a href="{% block logo_href %}/{% endblock %}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
            {% block logo_text_small %}<b>Biblioteca FATEC</b>{% endblock %}
        </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">{% block logo_text %}Biblioteca FATEC{% endblock %}</span>
        </a>
    {% endblock %}

    {% block nav_bar %}

        <nav class="navbar navbar-static-top">

            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <div class="icon-header">
                    <i class="fas fa-chevron-left"></i>
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-chevron-right"></i>
                </div>

            </a>
            <div class="clearfix">

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% block header_dropdowns %}
                            {% if request.user.is_authenticated %}

                                <li class="dropdown user user-menu" >
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {% if request.user.avatar %}
                                            <img src="{{ request.user.avatar }}" class="img-circle" alt="User Image" height="30" width="30">
                                        {% else %}
                                            <img src="{% avatar_url size=20 %}" class="img-circle" alt="User Image">
                                        {% endif %}
                                        <span class="hidden-xs" style="font-weight: bold; ">{% firstof request.user.get_username %}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% block user_header %}
                                            <li class="user-header" style="background-color: #000E78">
                                                {% if request.user.avatar %}
                                                    <img src="{{ request.user.avatar }}" class="img-circle" alt="User Image">
                                                {% else %}
                                                    <img src="{% avatar_url size=150 %}" class="img-circle" alt="User Image">
                                                {% endif %}

                                                <p>
                                                    {% firstof request.user.get_short_name request.user.get_username %}
                                                    <small>Membro desde {{ request.user.date_joined }}</small>
                                                </p>
                                            </li>
                                        {% endblock %}

                                        <!-- Menu Footer-->
                                        {% block menu_footer %}
                                            <li class="user-footer">
                                                <div class="pull-left">
                                                    <a href="{% block change_password_url %}{% url 'alterar_senha' %}{% endblock %}"
                                                       class="btn btn-default btn-flat">{% trans 'Alterar senha' %}</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="{% block logout_url %}{% url 'logout' %}{% endblock %}" class="btn btn-default btn-flat">{% trans 'Sair' %}</a>
                                                </div>
                                            </li>
                                        {% endblock %}

                                    </ul>
                                </li>
                            {% endif %}
                        {% endblock header_dropdowns %}
                    </ul>
                </div>
        </nav>

    {% endblock %}
</header>