{% load i18n %}
{% load static %}

<aside class="main-sidebar" xmlns="http://www.w3.org/1999/html">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        {% block nav_links_ul %}

            <ul class="sidebar-menu">
                {% block nav_links_outer %}



                    <li class="header">{% block nav_heading %}MENU PRINCIPAL{% endblock %}</li>


                    {% block nav_links %}

                        {% for model in models %}
                            <li>
                                <a href="{% url model.url %}">
                                    <i class="fa fa-dashboard"></i> <span>{{ model.plural }}</span>
                                </a>
                            </li>
                        {% endfor %}

                        <li class="treeview">

                            {% for item in menu %}
                                <li class="treeview">
                                    <a href="{% if item.has_children %}#{% else %}{{ item.get_link }}{% endif %}" class="li-button">
                                        <i class="{% if item.icon %}{{ item.icon }}{% else %}fas fa-th{% endif %}"></i>
                                        <span>{{ item.titulo }}</span>
                                        <span class="pull-right-container" style="color: white">
                                    <i class="fa fa-angle-left pull-right" style="color: white"></i>
                                        </span></a>

                                    {% if item.has_children %}

                                        <ul class="treeview-menu">
                                            {% for subitem in item.children  %}
                                                <li  class="{% if subitem.has_children %}treeview{% endif %} {{ subitem.get_is_active_css_class }}" >
                                                    <a href="{% if subitem.has_children %}#{% else %}{{ subitem.get_link }}{% endif %}">
                                                        <i class="{% if subitem.icon %}{{ subitem.icon }}{% else %}fas fa-chevron-right{% endif %}"></i>
                                                        <span>{{ subitem.titulo }}</span>
                                                    </a>
                                                    {% if subitem.has_children %}
                                                        <ul class="treeview-menu">
                                                            {% for child in subitem.children  %}
                                                                <li class="{% if child.has_children %}treeview{% endif %} {{ child.get_is_active_css_class }}">
                                                                    <a href="{{ child.get_link }}">
                                                                        <i class="{% if child.icon %}{{ child.icon }}{% else %}fas fa-chevron-right{% endif %}"></i>
                                                                        <span>{{ child.titulo }}</span>
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}



                        <li class="treeview">
                            <a href="#" class="li-button">
                                <span>Quem Somos?</span>
                                <span class="pull-right-container" style="color: white">
                            <i class="fa fa-angle-left pull-right" style="color: white"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="http://fatecararaquara.edu.br/" target="_blank">
                                        <i class="fa fa-link"></i><span> FATEC ARARAQUARA </span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    {% endblock nav_links %}
                {% endblock nav_links_outer %}
            </ul>
        {% endblock nav_links_ul %}
    </section>
</aside>
